openapi: 3.1.0
info:
  title: Foo
  version: '1.0.0'
servers:
  - url: https://docs.mintlify.com
    description: Production Server
  - url: http://localhost:8000
    description: Local Development
components:
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
security: 
  - Authorization: []
paths:
  '/employee-api/users/{user_id}/profile-picture':
    parameters:
      - name: user_id
        required: true
        in: path
        schema:
          type: string
    get:
      summary: Fetch Profile Picture
      responses:
        200:
          description: Success
          content:
            image/png:
              schema:
                type: string
  '/employee-api/users/{user_id}/name-pronunciation':
    parameters:
      - name: user_id
        required: true
        in: path
        schema:
          type: string
    get:
      summary: Fetch Name Pronunciation
      responses:
        200:
          description: Success
          content:
            audio/mpeg:
              schema:
                type: string

  /employee-api/users/{user_id}/project/{project_id}:
    parameters:
      - name: user_id
        required: true
        schema:
          type: string
        in: path
      - name: project_id
        required: true
        schema:
          type: string
        in: path
    get:
      summary: Fetch Project Info
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  hours:
                    type: integer
    post:
      summary: Post Project Info
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: InternalProject
                  properties:
                    department:
                      type: string
                      description: The department under which this project falls. If the project falls under multiple categories, choose the closest one.
                      example: Engineering
                      enum:
                        - Engineering
                        - Design
                        - Sales
                    start_date:
                      type: string
                      description: The start date for the project. Should be in Standard ISO format.
                      example: '2022-07-15'
                    summary: 
                      type: string
                      description: A short summary of the work that was performed. Limit 300 characters.
                      example: Created designs for a potential building in downtown.
                    hours_logged:
                      type: integer
                      description: 
                      example: 40
                    comments:
                      type: array
                      items:
                        type: object
                        properties:
                          date:
                            type: string
                          contents:
                            type: string
                    complete:
                      type: boolean
                      description: Whether the project is complete.
                      example: true
                  required:
                    - department
                    - start_date
                    - summary
                    - complete
                - type: object
                  title: ExternalProject
                  properties:
                    client:
                      type: string
                      description: The name of the company for which the work was performed.
                      example: Corporations Ltd
                    external_manager:
                      type: object
                      description: The contact details of the manager under which the project was performed.
                      properties:
                        first_name:
                          type: string
                        last_name: 
                          type: string
                      required:
                        - first_name
                        - last_name
                    start_date:
                      type: string
                      description: The start date for the project. Should be in Standard ISO format.
                      example: '2022-07-15'
                    summary: 
                      type: string
                      description: A short summary of the work that was performed. Limit 300 characters.
                      example: Created designs for a potential building in downtown.
                    hours_billed:
                      type: integer
                    additional_data:
                      type: array
                      items:
                        type:
                          - number
                          - string
                    complete:
                      type: boolean
                      description: Whether the project is complete.
                      example: true
                  required:
                    - department
                    - start_date
                    - summary
                    - complete
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  hours:
                    type: integer